* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-footer: #1f2937;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

#header-section, #footer {
    background-color: var(--header-footer);
}

#header {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-logo {
    font-size: 1rem;
    color: #f9faf8;
    display: flex;
    justify-self: flex-start;
    flex: 1;
}

#header > ul {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

ul > li {
    color: #e5e7eb;
    list-style: none;  
    display:inline-flex;
    margin-left: 10%;

}

a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero {
    display: flex;
}
.hero-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-bottom: 10%;
}
.heading {
    font-size: 3rem;
    font-weight: 600;
    color: #f9faf8 ;
    margin-top: 100px;
}
.subtext {
    font-size: 2rem;
    font-weight: 500px;
    color: #e5e7eb;
    padding-bottom: 2%;
}
.img {
    width: 100%;
    max-width: 300px;
    background-color: gray;
    color: #e5e7eb;
    border: black;
    margin-left: 3%;
    align-self: center;
    text-align: center;
    padding: 7% 0;
    flex: 1;
}


button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
    padding: 2% 5%;
    font-size: 1rem;
}

.blue-square {
    width: 110px;
    height: 110px;
    max-width: 100%;
    border: 2px solid #3882f6;
    border-radius: 10px;
    align-self: center;
}

.white-section {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
}

.blue-square-text {
    font-size: 0.75rem;
    color: #1f2937;
    max-width: 20ch;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}
.second-white-section {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
#white-section {
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}

.blue-square-container {
  display: flex;
  flex-direction: column;

}

#quote-section {
    background-color: #e5e7eb;
    padding-top: 5%;
    padding-bottom: 5%;

}
.quote-section {
    display: flex;
    flex-direction: column;
}
.testimonial {
    font-size: 2em;
    color: #1f2937;
    max-width: 35ch;
    font-weight: lighter;
    align-self: center;
}

.thor {
align-self: flex-end;
}

#white-blue-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.blue-box {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    padding: 5% 10%;
    border-radius: 10px;
}

.call-to-action {
    color: #e5e7eb;
    flex: 1;
}
.call {
    font-size: 1.5rem;
}

.white-border-button {
    border: solid #e5e7eb;
}

#footer {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #e5e7eb;
    text-align: center;
    font-weight: lighter;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    max-width: 1536px;
}
/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;

    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        max-width: 440px;
        
    }
}

@media (max-width: 390px) {
    .container {
        max-width: 390px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        }
    }
}